In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

In [3]:
data = pd.read_csv("bnkloan.csv")

In [4]:
data.head(5)

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,debt,cred,otherdebt,in
0,28,2,7,2,44,17.7,2.991,5,0,17700,2991,4797,440000
1,64,5,34,17,116,14.7,5.047,12,0,14700,5047,12005,1160000
2,40,1,20,12,61,4.8,1.042,2,0,4800,1042,1886,610000
3,30,1,11,3,27,34.5,1.751,8,0,34500,1751,7564,270000
4,25,1,2,2,30,22.4,0.759,6,1,22400,759,5961,300000

In [5]:
data.shape

(1500, 13)

In [6]:
data.isnull().sum()

age          0
ed           0
employ       0
address      0
income       0
debtinc      0
creddebt     0
othdebt      0
default      0
debt         0
cred         0
otherdebt    0
in           0
dtype: int64

In [7]:
data.isna().sum()

age          0
ed           0
employ       0
address      0
income       0
debtinc      0
creddebt     0
othdebt      0
default      0
debt         0
cred         0
otherdebt    0
in           0
dtype: int64

In [8]:
data.columns.values

array(['age', 'ed', 'employ', 'address', 'income', 'debtinc', 'creddebt',
       'othdebt', 'default', 'debt', 'cred', 'otherdebt', 'in'],
      dtype=object)

In [9]:
data['in']

0        440000
1       1160000
2        610000
3        270000
4        300000
         ...
1495     830000
1496     430000
1497     160000
1498     410000
1499     240000
Name: in, Length: 1500, dtype: int64

In [15]:
dt1=data[(data['in']>440000)&(data['in']<830000)]

In [16]:
dt1

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,debt,cred,otherdebt,in
2,40,1,20,12,61,4.8,1.042,2,0,4800,1042,1886,610000
16,18,2,0,0,56,15.7,1.838,7,1,15700,1838,6954,560000
24,41,2,16,11,56,3.4,0.897,1,0,3400,897,1007,560000
26,45,5,1,4,58,15.4,2.367,7,1,15400,2367,6565,580000
27,37,3,15,10,65,5.0,1.303,2,0,5000,1303,1947,650000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479,34,4,8,4,49,7.5,0.489,3,0,7500,489,3186,490000
1481,20,2,0,0,46,12.1,0.952,5,1,12100,952,4614,460000
1487,34,2,10,6,59,18.6,3.556,7,1,18600,3556,7418,590000
1488,41,1,15,12,55,12.2,4.127,3,0,12200,4127,2583,550000
1493,27,3,0,3,63,1.0,0.315,0,0,1000,315,315,630000

In [17]:
obj1=pd.DataFrame(dt1['in'])
obj1

          in
2     610000
16    560000
24    560000
26    580000
27    650000
...      ...
1479  490000
1481  460000
1487  590000
1488  550000
1493  630000

[404 rows x 1 columns]

In [19]:
obj2=pd.DataFrame(dt1['debt'])
obj2

       debt
2      4800
16    15700
24     3400
26    15400
27     5000
...     ...
1479   7500
1481  12100
1487  18600
1488  12200
1493   1000

[404 rows x 1 columns]

In [20]:
lm=linear_model.LinearRegression()
model=lm.fit(obj1,obj2)

In [21]:
model.coef_

array([[0.00023245]])

In [22]:
model.intercept_

array([10202.81934049])

In [23]:
X = data['in']
y = data['debt']

In [25]:
X

0        440000
1       1160000
2        610000
3        270000
4        300000
         ...
1495     830000
1496     430000
1497     160000
1498     410000
1499     240000
Name: in, Length: 1500, dtype: int64

In [26]:
y

0       17700
1       14700
2        4800
3       34500
4       22400
        ...
1495    11000
1496     3600
1497     3200
1498    14500
1499     5800
Name: debt, Length: 1500, dtype: int64

In [27]:
# Splitting the varaibles as training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, 
                                                    test_size = 0.3, random_state = 100)

In [28]:
# Take a look at the train dataset
X_train
y_train

355     14200
1275     3200
568      9200
537      9600
786     15800
        ...
802      3900
53       9700
350      9800
79       4200
792      8900
Name: debt, Length: 1050, dtype: int64

In [29]:
# Importing Statsmodels.api library from Stamodel package
import statsmodels.api as sm

In [30]:
# Adding a constant to get an intercept
X_train_sm = sm.add_constant(X_train)

In [31]:
# Fitting the resgression line using 'OLS'
lr = sm.OLS(y_train, X_train_sm).fit()

In [32]:
# Printing the parameters
lr.params

const    10028.844955
in          -0.000416
dtype: float64

In [33]:
lr.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   debt   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.271
Date:                Wed, 05 Jan 2022   Prob (F-statistic):              0.132
Time:                        11:44:40   Log-Likelihood:                -10710.
No. Observations:                1050   AIC:                         2.142e+04
Df Residuals:                    1048   BIC:                         2.143e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.003e+04    261.596     38.337      0.000    9515.533    1.05e+04
in            -0.0004      0.000     -1.507      0.132      -0.001       0.000
==============================================================================
Omnibus:                      183.141   Durbin-Watson:                   2.109
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              308.102
Skew:                           1.106   Prob(JB):                     1.25e-67
Kurtosis:                       4.466   Cond. No.                     1.23e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.23e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""